<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Waybills</title>
</head>
<body>
<h1>All Waybills</h1>
<table>
  <tr>
    <th>ID : </th>
    <th>user_id : </th>
    <th>sender_department_id : </th>
    <th>receiver_department_id : </th>
    <th>receiver_phone : </th>
    <th>status : </th>
    <!-- Добавьте другие столбцы по вашим требованиям -->
  </tr>
  <tr th:each="waybill : ${waybills}">
    <td th:text="${waybill.id}"></td>
    <td th:text="${waybill.userSender}"></td>
    <td th:text="${waybill.receiverDepartment}"></td>
    <td th:text="${waybill.receiverFIO}"></td>
    <td th:text="${waybill.receiverPhone}"></td>
    <td th:text="${waybill.status}"></td>
  </tr>
</table>
</body>
</html>


