<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Детали накладной</title>
</head>
<body>
<h1>Детали накладной</h1>

<div>
  <h2>ID накладной: <span th:text="${waybill.id}"></span></h2>
  <p>Другие поля накладной:</p>
  <ul>
    <li>Поле 1: <span th:text="${waybill.receiverFIO}"></span></li>
    <li>Поле 2: <span th:text="${waybill.status}"></span></li>
    <!-- Добавьте другие поля накладной по необходимости -->
  </ul>
</div>
</body>
</html>